- content_for :title do
  = t('.page_title', default: t('helpers.new.page_title').humanize)

%ol.breadcrumb
  %li= link_to t('users.breadcrumb.index', default: t('helpers.breadcrumb.index')), users_path
  %li.active= t('users.breadcrumb.new.title', default: t('helpers.breadcrumb.new'))

.page-header
  %h1= t('.h1_title', default: t('helpers.new.h1_title').humanize)
  
= render partial: "form", locals: { on_edit: false }