- content_for :title do
  = t('.title')

.jumbotron
  %h1= t('.title')
  %p= t('.text')
  %p
    = link_to t('.sign_in'), new_account_session_path, class: 'btn btn-default btn-lg'
    - if ENV["registerable"]=="true"
      = link_to t('.sign_up'), new_account_registration_path, class: 'btn btn-default btn-lg'
