!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => Rails.configuration.head_meta_description, :name => "description"}/
    %meta{:content => Rails.configuration.head_meta_author, :name => "author"}/
    = favicon_link_tag 'favicon.ico'
    %title= content_for?(:title) ? yield(:title) : Rails.configuration.default_title
    = stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': 'reload'
    = javascript_include_tag "application", 'data-turbolinks-track': 'reload'
    - if controller.action_name=="new" and (controller.controller_path=="devise_invitable/registrations" or controller.controller_path=="registrations")
      = javascript_include_tag "password_score", 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  %body{:role => "document", :'data-controller' => "#{controller.controller_path}", :'data-action' => "#{controller.action_name}"}
    = render 'layouts/navigation'
    .container.theme-showcase{:role => "main"}
      = render 'layouts/messages'
      = yield
      = render 'layouts/footer'
    .body-bottom
    / = "[#{controller.controller_path}]/[#{controller.action_name}]"
    
